.column-image img{
	width:45%!important;
	height: auto!important;
}
#theme-options-wrap {
    padding: 0 3em 3em 3em;
    background: white;
    font-size: 11px!important;
    border:none;

}
a.ed_img img{
	max-width:220px!important;
}
@media (max-width:768px){
.hidden-small{
	display: none;
	}
}
.api_img{
max-width:300px;
}
.martop {
    margin-top: 10px;
}
.martop img{
display: block;
    margin: 0 auto!important;
}

#theme-options-wrap {
    font-size: 16px!important;
}
#theme-options-wrap #icon-tools {
    position: relative;
    top: -10px;
}
#theme-options-wrap input, #theme-options-wrap textarea {
   
}
.ed_api {
       font-size: 14px!important;
}
#theme-options-wrap h2 {
    font-size: 26px;
    margin: 0;
    padding: 14px 15px 3px 0;
    line-height: 35px;
    font-style: italic;

}
#theme-options-wrap li {
    list-style: none;
    list-style-position: inside;
    padding-left: 10px;
}
#theme-options-wrap li.li {
    background: #f4f4f4;
    padding: 4px;
}
#theme-options-wrap li.lialt {
    background: #fafafa;
    padding: 4px;
}
#theme-options-wrap td {
    font-size: 11px!important;
        background: #f4f4f4;
    border-bottom: 3px solid #fff;

}
#theme-options-wrap th {
    font-size: 14px!important;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial,serif;
    width: 15%;
    background: #f4f4f4;
    border-bottom: 3px solid #fff;
}
.optionmain {
    background: url(../images/common/arrow-options.png) left no-repeat;
    padding-left: 13px;
    font-size: 12px!important;
}
.optionsearch {
    background: url(../images/common/search.gif) left no-repeat;
    padding-left: 18px;
    margin: 0 4px 0 10px;
    font-size: 12px!important;
}
.legend h3 {
    color: #000!important;
    font-family: Times, arial, serif!important;
}
.legend {
    color: #000!important;
    margin: 22px 14px 13px 0px;
    padding: 8px 0 8px 2px;
    border-bottom: 1px solid  #cdcdcd!important;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    width: 100%;
}
.api-legend {
    text-align: right;
    display: block;
}
.form-wrap.vin {
    margin: 20px 0;
    font-weight: bold; 
}
#GetData{ font-weight: normal;}
.form-wrap input{ font-weight: normal;}
.vin-form {
    padding-top: 10px;
    display: block;
    float: left;
    width: 100%;
}
.input-vin{
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}
.button-vin{
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	padding-left: 10px;
   
}
.vin-loader{
	width: 30px;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	padding-left: 10px;
}
#API_message {
   float: right;
    text-align: center;
}
.error{
	border: none!important;
	top: 0px;
	background: none!important;
	box-shadow: none!important;
	border: none!important;
}
.error p{
	font-weight: 700;font-size: 14px;
	color: red;
}
.rw-label {
    width: 20%;
}
.rw-select {
    height: auto !important;
}
.rw-images li {
    float: left;
    width: 114px;
    height: 94px;
    text-align: center;
    cursor: move;
    position: relative;
	margin:0 0px 0px 0;
}
.rw-images img:hover {
    opacity: 0.8;
}
.rw-images img {

    background: white;
	width: 110px;
	height: 90px;
}
.rw-images a {
    position: absolute;
    bottom: 4px;
    left: 2px;
    color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
.rw-images a.delete {

    padding: 5px;
    margin:0 0px;
    text-decoration: none;
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
}
.rw-images a.delete:hover {
    padding: 5px;
    width: 100px;
    background: #ff0000;
    color: #fff;
}
.rw-upload-button {
    float: left;
    clear: both;
    margin-top: -24px;
}
.rw-field .mceIframeContainer {
    background: #fff;
}
.messagebox {
    background-color: #F5F5F5;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #DBDBDB;
}
.errorbox {
    color: #000;
    background-color: #ffeded;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #f27c7c;
}
.confirmbox {
    background-color: #F2FFDB;
    color: #151515;
    border: 1px solid #9C6;
    margin: 10px 0px;
    padding: 5px;
}